# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
/.idea.DataAccessCourseV2.iml
# Datasource local storage ignored files
/../../../../../../../../../:\source\Uni\SystemAnalysis\Team2-SystemsAnalysisDesign-500084_A20_T1-\DataAccessExperiments\.idea\.idea.DataAccessCourseV2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
